<mat-toolbar color="primary">
  <span>#QuédateEnCasa 🇵🇦🦠</span>
</mat-toolbar>

<main class="flex-grow">
  <div class="home d-flex flex-column mb-3">
    <img
      src="assets/quedate-en-casa.jpg"
      class="img-fluid"
      alt="Responsive image"
    />
    <div class="p-4 ">
      <p>
        #QuédateEnCasa Panamá 🇵🇦, aquí podrás verificar qué horario te
        corresponde salir, solo llena los campos indicados y sabrás que día de
        la semana y hora te corresponde.
      </p>

      <h2 class="pt-3">¿Cual es tu edad?</h2>
      <mat-form-field>
        <mat-label>Selecciona tu edad</mat-label>
        <mat-select
          [(ngModel)]="selectedAge"
          name="age"
          (selectionChange)="resetAll()"
        >
          <mat-option *ngFor="let age of ages" [value]="age">
            {{ age }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h2 class="pt-3">Define tu género</h2>
      <mat-button-toggle-group
        [(ngModel)]="selectedGender"
        (change)="inputsChange()"
      >
        <mat-button-toggle
          *ngFor="let item of genders; let i = index"
          value="{{ item }}"
          >{{ item }}</mat-button-toggle
        >
      </mat-button-toggle-group>

      <div
        *ngIf="selectedAge <= 60"

      >
        <h2 class="mt-4">¿En que número termina tu cédula o pasaporte?</h2>

        <mat-button-toggle-group
          [(ngModel)]="selectedNumber"
          [disabled]="disabledNumbers"
          (change)="inputsChange()"
        >
          <mat-button-toggle
            *ngFor="let item of endNumbers; let i = index"
            value="{{ i }}"
            >{{ i }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <app-resultado *ngIf="rule" [rule]="rule"></app-resultado>



    </div>
  </div>
</main>
<app-footer></app-footer>
